<!DOCTYPE html>

{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Alumnee</title>


    <link rel="stylesheet" href="{% static './alumnee_details/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static './alumnee_details/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static './alumnee_details/profile.css' %}">
    
   
  </head>
  <body>


        <!-- nav bar -->

        <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="portfolio" class="btn btn-success btn-block btn-compose-email">Portfolio Projects</a>
                <!--
                <ul class="nav nav-pills nav-stacked nav-email shadow mb-20">
                    <li class="active"> <a href="downloads"> <i class="fa fa-inbox"></i> Certifications  <span class="label pull-right">7</span> </a> </li>

                    <li> <a href="#"><i class="fa fa-certificate"></i> Document Downloads</a> </li>

                </ul> -->
            </div>
            <div class="col-sm-9">

                <!-- resumt -->
                <div class="panel panel-default">
                       <div class="panel-heading resume-heading">
                          <div class="row">
                             <div class="col-lg-12">
                                <div class="col-xs-12 col-sm-4">
                                   <figure>
                                      <img class="img-circle img-responsive" alt="" src="{{alumnee_object.image.url}}">
                                   </figure>
                                   <div class="row">
                                      <div class="col-xs-12 social-btns">

                                         <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-twitter">
                                            <i class="fa fa-twitter"></i> </a>
                                         </div>
                                         <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-linkedin">
                                            <i class="fa fa-linkedin"></i> </a>
                                         </div>
                                         <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-github">
                                            <i class="fa fa-github"></i> </a>
                                         </div>
                                         <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                            <a href="#" class="btn btn-social btn-block btn-stackoverflow">
                                            <i class="fa fa-stack-overflow"></i> </a>
                                         </div>
                                      </div>


                                   </div>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                   <ul class="list-group">
                                      <li class="list-group-item">This is a portfolio projects page</li>
                                      <li class="list-group-item">{{alumnee_object.FullName}}</li>
                                      <li class="list-group-item">{{alumnee_object.HighestEducation}} </li>
                                      <li class="list-group-item">{{alumnee_object.graduationYear}}</li>
                                      <li class="list-group-item"><i class="fa fa-phone"></i> {{alumnee_object.phone}} </li>
                                      <li class="list-group-item"><i class="fa fa-envelope"></i> {{ alumnee_object.email }}</li>
                                   </ul>
                                </div>
                             </div>
                          </div>
                       </div>
                      
                       <div class="bs-callout bs-callout-danger">
                          <h4>Portfolio Projects</h4>
                          {% if alumnee_object.portfolio_set.all %}                                                                      
                                    {% for portfolio in alumnee_object.portfolio_set.all %}
                                        <ul class="list-group">
                                         <a class="list-group-item inactive-link" href="#">
                                            <h4 class="list-group-item-heading"> {{portfolio.projectTitle}} </h4>
                                            <!--<h4 class="list-group-item-heading"> Roles and Responsibilities </h4>-->

                                            <p class="list-group-item-text">
                                               {{portfolio.projectDescription}}
                                            </p>
                                         </a>
                                         </ul>
                                    {% endfor %}
                                {% else %}
                                    <h4>The alumnee doesnt have any portfolio</h4>
                          {% endif %}                                                                              
                       </div>

                    </div>
                 </div>
                <!-- resume -->

            </div>
        </div>
        </div>


  </body>
</html>
