<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradNet - Home</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'gradnet/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'gradnet/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'gradnet/assets/css/Pretty-Footer.css' %}">


</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header" style="margin-top:15px"><a class="navbar-brand navbar-link" href="#"> <strong>GradNet</strong></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-top:15px" role="presentation"><a href="http://127.0.0.1:8000/events">Events</a></li>
                    <li style="margin-top:15px" role="presentation"><a href="http://127.0.0.1:8000/alumnees">Alumnees</a></li>
                    <li> <a href="http://127.0.0.1:8000/admin"><button class="btn btn-danger btn_login"type="button" name="button">Login</button></a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">

                <div class="col-md-8  get-it">
                    <h1 style="margin-right:100px" class="p_main">Nyumbani kwa wahitimu wapya na wazamani</h1>
                    <div style="margin-right:100px">
                      <p >Empower yourself with first-hand information,<p div="p_sub">practical and necessary soft skills</p>  <p class="p_sub">for landing your first job.</p>
                      <p><a class="btn btn-success btn-lg" role="button" href="#"> Create your profile</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">University graduates Love It!</h2>
        <blockquote style="background-color:">
            <p>This app has the potential to increase the network among SUZA students,and their post-graduation development</p>
            <footer>Comrade,Computing department.</footer>
        </blockquote>
    </section>

    <iframe src="news" width="100%" height="250px">







    </iframe>

    <div class="my-news-carousel">

      <section>
        <div class="container">
        <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                <div class="MultiCarousel-inner">

                    <div class="item">
                        <div class="pad15">

                            <div class="item-box-blog-image">
                                    <!--Date-->
                                    <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Augu 01</span> </div>
                                    <!--Image-->
                                    <figure> <img alt="" src="https://cdn.pixabay.com/photo/2017/02/08/14/25/computer-2048983_960_720.jpg"> </figure>
                                  </div>
                                  <p class="lead">Multi Item Carousel</p>
                                  <div class="item-box-blog-text">
                                      <p>Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing. Lorem ipsum dolor.</p>
                                    </div>

                                    <div class="mt"> <a href="#" tabindex="0" class="btn bg-blue-ui white read">read more</a> </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
        </div>
      </section>

    </div>


    <section class="features" style="background-color: #F4F4F4">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="color:black">
                    <h2 style="color:black">Get Hired or Job Offer</h2>
                    <p>With the right amount of portfolio projects,industrial training experience,and previous achievements,
                      You are able to attract stakeholders to hire or say they offer....Wafikishie kauli yako. </p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-xs-4 icon-feature"> <img width="120px" src="{% static 'gradnet/assets/img/reliable.png' %}" alt="">
                            <p style="color:black">You are reliable and effective </p>
                        </div>
                        <div class="col-xs-4 icon-feature"> <img width="120px" src="{% static 'gradnet/assets/img/hardworking.png' %}" alt="">
                            <p style="color:black">You love to create stuff and be productive</p>
                        </div>
                        <div class="col-xs-4 icon-feature"> <img width="120px" src="{% static 'gradnet/assets/img/organized.png' %}" alt="">
                            <p style="color:black">Organized and ready to put your work out there</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </section>


            <section style="background-color:white;" class="features">
                <div  class="container">
                    <div  class="row">
                        <div class="col-md-6">
                            <h2 style="color:black;">Reserve a seat in the coming event of your proffesion</h2>
                            <p style="color:black">Whether its  a workshop,seminar,hackathon,public lecture or even a competition...
                            These events give you exposure with the industry and keeps you engaged with your proffesion during the
                            waiting time so that you dont lose your career or confidence </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row icon-features">
                                <div class="col-xs-4 icon-feature"> <img width="120px" src="assets/img/organized.png" alt="">
                                    <p style="color:black">Feedback synced with receivers sugg-box from our cloud resorces </p>
                                </div>
                                <div class="col-xs-4 icon-feature"> <img width="120px" src="assets/img/hardworking.png" alt="">
                                    <p style="color:black">Privacy and security with your thoghts,contribution and suggestions</p>
                                </div>
                                <div class="col-xs-4 icon-feature"> <img width="120px" src="assets/img/reliable.png" alt="">
                                    <p style="color:black">Proof against mad bureacracy steps to get yourself heard</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </section>


                    <section class="features" style="background-color:#F4F4F4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6" >
                                  <strong><h2 style="color:black;">Want to further your studies..?</h2></strong>
                                    <p style="color:black">Plenty of fully sponsored oppurtunities right  </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="row icon-features">

                                    </div>
                                </div>
                            </div>
                            </div>
                            </section>


    <footer class="site-footer">

        <footer>
            <div class="row">
                <div class="col-md-4 col-sm-6 footer-navigation">
                    <h3><a href="#"><span>SUZA</span></a></h3>
                    <p class="links"><a href="#">suza.ac.tz</a><strong> · </strong><a href="#">Blog</a><strong> · </strong> · </strong><a href="#">About</a><strong> · </strong> · </strong><a href="#">Contact</a></p>
                    <p
                    class="company-name">BCS Group 1 © 2019 </p>
                </div>
                <div class="col-md-4 col-sm-6 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">Tunguu</span> Zanzibar</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +255 672 621315</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">bcsgroup@gmail.com</a></p>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the project</h4>
                    <p> This is the software project development for BCS Class 2019
                    </p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </footer>
    </footer>
    <script src=" src="https://code.jquery.com/jquery-3.3.1.min.js""></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
